
  body {
    color: black;
  }

  .inputs {
    text-align: center;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .button-19 {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin-left: 10px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    height: 48px;
  }

  .button-19:after {
    background-clip: padding-box;
    background-color: #78a6f5;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .button-19:focus {
    user-select: auto;
  }

  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  .button-19:disabled {
    cursor: auto;
  }

  input {
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
  }


  .card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
  }
  .titulo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .box {
    top: 20px;
    border: 2px solid;
    border-color: white;
    color: black;
    background-color: #78a6f5;
    min-height: 1000px;
    min-width: 1800px;
    position: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px 0px 16px 0px;
  }
  .card {
    background-image: linear-gradient(to bottom, #78a6f5, #b6d0fc, #ffffff);
    top: 20px;
    border: 2px solid;
    border-color: white;
    min-height: 350px;
    min-width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px 0px 16px 0px;
    box-shadow: 10px 4px 7px #545454;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    padding: 30px;
   
  }
  .card-info1{
    padding-right: 15px;
  }

  .icon {
    height: 120px;
    width: 120px;
  }

  .climaul {
    padding: 0;
    padding-top: 15px;
    position: relative;
    margin-top: 20%;
    list-style: none;
    line-height: 1.5;
  }

  .climah1 {
    position: absolute;
    padding-top: 15px;
    top: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
  }
  .sensacao-termica {
    color: gray;
    font-size: 14px;
    font-weight: 600;
  }
  .temperatura {
    font-size: 50px;
    font-weight: bold;
  }
  .card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
